@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }

  #hamburger {
    display: none !important;
  }

  .business-cards,
  .info-section {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
